#logo{
    background-color:rgb(178, 165, 201);
    border:1vh solid rgb(3, 3, 56)

}
#logo img{
    display:block;
    margin: 0 auto;
    height:40vh;
    border-radius:60%
}
#heading{
    color:rgb(11, 9, 129);
    text-align:center;
    font-size:5vh;
}
#thought{
    color:rgb(11, 9, 129);
    text-align:center;
    font-size:4vh;
    font-style:italic;
}


#head{
    color:rgb(11, 9, 129);
    text-align:center;
    font-size:6vh;
}
#dec{
    color:rgb(11, 9, 129);
    font-size:3vh;
}
#aaa{
    border-radius:10%;
    margin-left:1vw;
    margin-right:1vw;
}
#l{
    color:rgb(11, 9, 129);
    font-size:4vh;
}
#l span{
    color:rgb(11, 9, 129);
    text-align:right;
    font-size:4vh;
}
