#logo{
    border:1vh solid rgb(3, 3, 56) 
        background-image:url("logo.JPG");
    background-repeat:no-repeat;
    background-size:100vw 100vh;   

}
#logo img{
    display:block;
    margin: 0 auto;
    height:40vh;
    border-radius:60%
}
#heading{
    color:rgb(11, 9, 129);
    text-align:center;
    font-size:5vh;
}
#thought{
    color:rgb(11, 9, 129);
    text-align:center;
    font-size:4vh;
    font-style:italic;
}
#per{
        
        color:rgb(11, 9, 129);
        text-align:center;
        font-size:5vh;
}
#ff{
    margin-top:20vh;
}
#ff input{
    margin-left:8vw;
    margin-top:1vh;
}
#ff label{
    margin-left:10vw;
}
#ff textarea{
    margin-left:2vw;
    margin-top:1vh;
}
